@use 'sass:color';
@use '@/variables.scss' as *;

.link {
  color: $color-accent;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    color: color.adjust($color-accent, $lightness: 10%);
  }

  &:focus {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }
}
