@import '@/variables.scss';

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $color-background;
  color: $color-text;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: $color-secondary-bg;
  border-bottom: 1px solid $color-border;
  flex-shrink: 0;
}

.mainContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: $color-secondary-bg;
  border-right: 1px solid $color-border;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidebarTop {
  flex: 1;
}

.sidebarBottom {
  margin-top: auto;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.user {
  font-weight: bold;
  color: $color-text;
}