.input {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 16px;
  background-color: #3a3a3a;
  color: #ffffff;

  &:focus {
    outline: none;
    border-color: #777;
  }

  &::placeholder {
    color: #cccccc;
  }

  &.textarea {
    resize: none;
    height: 78px;
    line-height: 1.4;
    overflow-y: auto;
  }
}