@use '@/variables.scss' as *;

.input {
  padding: 10px;
  border: 1px solid $color-input-border;
  border-radius: 4px;
  font-size: 16px;
  background-color: $color-tertiary-bg;
  color: $color-text;

  &:focus {
    outline: none;
    border-color: $color-input-focus-border;
  }

  &::placeholder {
    color: $color-muted-text;
  }

  &.textarea {
    resize: none;
    height: 78px;
    line-height: 1.4;
    overflow-y: auto;
  }
}